@font-face {
  src: url(../fonts/PFHighwaySansPro-Regular.woff2) format('woff2'), 
  url(../fonts/PFHighwaySansPro-Regular.woff) format('woff');
  font-family: 'PF Highway Sans Pro';
  font-weight: normal;
}

@font-face {
  src: url(../fonts/PFHighwaySansPro-Bold.woff2) format('woff2'),
  url(../fonts/PFHighwaySansPro-Bold.woff) format('woff');
  font-family: 'PF Highway Sans Pro';
  font-weight: 700;
}

@font-face {
  src: url(../fonts/PFHighwaySansPro-Light.woff2) format('woff2'),
  url(../fonts/PFHighwaySansPro-Light.woff) format('woff');
  font-family: 'PF Highway Sans Pro';
  font-weight: 300;
}